#lesson01
lesson01/node_modules/
lesson01/bower_components/
lesson01/client_src/libs/

#lesson03
lesson03/node_modules/
lesson03/bower_components/
lesson03/libs/
lesson03/server.js

#lesson04
lesson04/node_modules/
lesson04/bower_components/
lesson04/app.js

#lesson06
lesson06/node_modules/
lesson06/client_build/
lesson06/app.js

#lesson07
lesson07/1-test/node_modules/
lesson07/1-test/client_build/
lesson07/1-test/app.js
lesson07/2-practise/node_modules/
lesson07/2-practise/client_build/
lesson07/2-practise/app.js